<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terima kasih | Makan yuk!</title>
    <link rel="stylesheet" href="/src/css/paymentcod.css">
</head>

<body>
    <div class="bg">
        <div class="card">
          <h1 class="card__msg">TERIMA KASIH!</h1>
          <h3 class="card__submsg">SILAHKAN LAKUKAN PEMBAYARAN SAAT MAKANANMU DATANG</h3>
          <h4>SEBESAR</h4>      
          <h1 class="card__price"><span>Rp.</span>20.000</h1></div>
        </div>
    </div>
</body>
</html>