<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="../css/admindash.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--<title>Admin Dashboard Panel</title>--> 
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <!--<img src="images/logo.png" alt="">-->
            </div>

            <span class="logo_name">Makan yuk!</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="#">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dasbor</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-wallet"></i>
                    <span class="link-name">Penarikan</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-box"></i>
                    <span class="link-name">Produk</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-receipt"></i>
                    <span class="link-name">Pesanan</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-bill"></i>
                    <span class="link-name">Transaksi</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">
                <li><a href="#">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle">Admin</i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
            
            <!--<img src="images/profile.jpg" alt="">-->
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Dasbor</span>
                </div>

                <div class="boxes">
                    <div class="box box1">
                        <i class="uil uil-usd-circle"></i>
                        <span class="text">Saldo</span>
                        <span class="number">Rp. 600.000</span>
                    </div>
                    <div class="box box2">
                        <i class="uil uil-crockery"></i>
                        <span class="text">Total Produk</span>
                        <span class="number">12</span>
                    </div>
                    <div class="box box3">
                        <i class="uil uil-parcel"></i>
                        <span class="text">Total Pesanan</span>
                        <span class="number">5</span>
                    </div>
                    <div class="box box4">
                        <i class="uil uil-money-bill"></i>
                        <span class="text">Total Transaksi</span>
                        <span class="number">10,120</span>
                    </div>
                </div>
            </div>
                </div>
            </div>
        </div>
    </section>

    <script src="../../src/js/dasbor.js"></script>
</body>
</html>
